<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>

    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/fontawesome-free/css/all.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/plugins/toastr/toastr.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/jquery-confirm/css/jquery-confirm.min.css">
</head>
<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Release Notice</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- .box-body -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">列表</h3>
            </div>

            <div class="box-body">


                <div class="ibox-content" style="display: block; margin-left: 10px;margin-bottom: 10px;">
<!--                    <div class="card-header">-->
<!--                        <h3 class="card-title">Quick Example</h3>-->
<!--                    </div>-->
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form th:action="@{/releaseNotice/list2}" th:object="${order}">
                        <div class="row">
                            <div class="col-sm-2 m-b-xs">
                                <!--                                    <input id="minOrderTimeStr" name="minOrderTimeStr" class="form-control" type="text" th:value="${order.minOrderTimeStr}" placeholder="订单最早时间" />-->
                                <div class="input-group date" id="minOrderTimeStr" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#minOrderTimeStr" th:field="*{minOrderTimeStr}" required/>
                                    <div class="input-group-append" data-target="#minOrderTimeStr"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 m-b-xs">
                                <div class="input-group date" id="maxOrderTimeStr" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#maxOrderTimeStr" th:field="*{maxOrderTimeStr}" required/>
                                    <div class="input-group-append" data-target="#maxOrderTimeStr"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-0.8 m-b-xs">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i><strong>Search</strong>
                                </button>
                            </div>
                            <div class="col-sm-1 m-b-xs">
                                <button class="btn btn-success" id="btn_add" type="button"><i
                                        class="fa fa-file"></i><strong>Export</strong></button>
                                <!--                                    <button type="button" id="btn_add" name="btn_add" class="btn btn-success"-->
                                <!--                                            title="导出" onclick="">-->
                                <!--                                        <i class="fa fa-file-o"></i> 新建-->
                                <!--                                    </button>-->
                                <!--                                    <a th:href="@{'download2'}" class="btn btn-primary btn-block" >&nbsp;&nbsp;&nbsp;&nbsp;<strong>导出</strong></a>-->
                            </div>
                        </div>
                    </form>
                </div>

                <div class="table-box">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="card">
<!--                                    <div class="card-header">-->
<!--                                        <h3 class="card-title">Bordered Table</h3>-->
<!--                                    </div>-->
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table class="table table-bordered"  id="list_table_json">
                                            <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Username</th>
                                                <th>EMail</th>
                                                <th style="width: 40px">Label</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="u : ${users}">
                                                <td scope="col" th:text="${u.id}"></td>
                                                <td scope="col" th:text="${u.username}"></td>
                                                <td scope="col" th:text="${u.email}"></td>

                                                <td scope="col">
                                                    <a class="btn btn-primary" role="button" th:href="${'/edit/'+u.id}"><span>Edit</span></a>
                                                    <a class="btn btn-danger" role="button" th:href="${'/hapus/'+u.id}"><span>Remove</span></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer clearfix">
                                        <ul class="pagination pagination-sm m-0 float-right">
                                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>



                    <!--------------- 新增模态框（Modal） ---------------->
                    <div class="modal fade bs-example-modal-lg" id="addModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="addModalLabel">Release Information</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="name1">姓名</label>
                                        <input type="text" id="name1" name="name1" class="form-control"
                                               placeholder="姓名">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender1">性别</label>
                                        <input type="text" name="gender1" id="gender1" class="form-control"
                                               placeholder="性别">
                                    </div>
                                    <div class="form-group">
                                        <label for="age1">年龄</label>
                                        <input type="text" name="age1" id="age1" class="form-control" placeholder="年龄">
                                    </div>
                                    <div class="form-group">
                                        <label for="address1">住址</label>
                                        <input type="text" name="address1" id="address1" class="form-control"
                                               placeholder="住址">
                                    </div>
                                    <div class="form-group">
                                        <label for="qq1">QQ</label>
                                        <input type="text" name="qq1" id="qq1" class="form-control" placeholder="qq账号">
                                    </div>
                                    <div class="form-group">
                                        <label for="email1">邮箱</label>
                                        <input type="text" name="email1" id="email1" class="form-control"
                                               placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="close1" name="close1" class="btn btn-default"
                                            data-dismiss="modal"><span class="glyphicon glyphicon-remove"
                                                                       aria-hidden="true"></span>关闭
                                    </button>
                                    <button type="button" id="btn_submit1" class="btn btn-primary"><span
                                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------- 修改模态框（Modal） ---------------->
                    <div class="modal fade bs-example-modal-lg" id="updateModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title" id="updateModalLabel">修改用户信息</h3>
                                </div>
                                <div class="modal-body">
                                    <!--注意需要一个隐藏域的id用来传值-->
                                    <div class="form-group">
                                        <input type="hidden" id="id" name="id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="name2">姓名</label>
                                        <input type="text" id="name2" name="name2" class="form-control"
                                               placeholder="姓名">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender2">性别</label>
                                        <input type="text" name="gender2" id="gender2" class="form-control"
                                               placeholder="性别">
                                    </div>
                                    <div class="form-group">
                                        <label for="age2">年龄</label>
                                        <input type="text" name="age2" id="age2" class="form-control" placeholder="年龄">
                                    </div>
                                    <div class="form-group">
                                        <label for="address2">住址</label>
                                        <input type="text" name="address2" id="address2" class="form-control"
                                               placeholder="住址">
                                    </div>
                                    <div class="form-group">
                                        <label for="qq2">QQ</label>
                                        <input type="text" name="qq2" id="qq2" class="form-control" placeholder="qq账号">
                                    </div>
                                    <div class="form-group">
                                        <label for="email2">邮箱</label>
                                        <input type="text" name="email2" id="email2" class="form-control"
                                               placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="close2" name="close2" class="btn btn-default"
                                            data-dismiss="modal"><span class="glyphicon glyphicon-remove"
                                                                       aria-hidden="true"></span>关闭
                                    </button>
                                    <button type="button" id="btn_submit2" class="btn btn-primary"><span
                                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<th:block layout:fragment="script">

    <!--    <script src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/plugins/toastr/toastr.min.js"></script>
        <script src="/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js"></script>-->

    <!-- jQuery -->
    <script src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/webjars/AdminLTE/3.2.0/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="/webjars/AdminLTE/3.2.0/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js"></script>
    <script src="/jquery-confirm/js/jquery-confirm.min.js"></script>

    <script>
        console.log("release notice");
        var user = {};

        $(function () {
            //Date and time picker
            $('#minOrderTimeStr').datetimepicker({
                icons: {time: 'far fa-clock'}
            });

            $('#maxOrderTimeStr').datetimepicker({
                icons: {time: 'far fa-clock'}
            });

            // $('#list_table_json').DataTable({
            //     "paging": true,
            //     "lengthChange": false,
            //     "searching": false,
            //     "ordering": true,
            //     "info": true,
            //     "autoWidth": false,
            //     "responsive": true,
            // });
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: true,
                timer: 3000
            });

            /*加载添加用户信息模态框*/
            $("#btn_add").click(function () {
                $("#addModalLabel").text("Release Information");
                $('#addModal').modal();
            });
            /*点击关闭模态框后重载页面*/
            $("#refresh,#close1,#close2").click(function () {
                window.location.reload();
            });
            $('#btn_submit1').on('click', function () {
                var name1 = $("#name1").val();
                if (name1 == "") {
                    Toast.fire({
                        icon: 'error',
                        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                    return;
                    // $.alert({
                    //     title: '提示信息',
                    //     content: '姓名不能为空!',
                    //     buttons: {
                    //         确定: function () {
                    //             $("#name1").focus();
                    //
                    //         }
                    //     },
                    //
                    // });

                }
                var gender1 = $("#gender1").val();
                if (gender1 == "") {
                    // $.alert({
                    //     title: '提示信息',
                    //     content: '性别不能为空!',
                    //     buttons: {
                    //         确定: function () {
                    //             $("#gender1").focus();
                    //
                    //         }
                    //     },
                    //
                    // });
                    Toast.fire({
                        icon: 'error',
                        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                    return;
                }
                var age1 = $("#age1").val();
                if (age1 == "") {
                    // $.alert({
                    //     title: '提示信息',
                    //     content: '年龄不能为空!',
                    //     buttons: {
                    //         确定: function () {
                    //             $("#age1").focus();
                    //
                    //         }
                    //     },
                    //
                    // });
                    Toast.fire({
                        icon: 'error',
                        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                    return;
                }
                var address1 = $("#address1").val();
                if (address1 == "") {
                    // $.alert({
                    //     title: '提示信息',
                    //     content: '住址不能为空!',
                    //     buttons: {
                    //         确定: function () {
                    //             $("#address1").focus();
                    //
                    //         }
                    //     },
                    //
                    // });
                    Toast.fire({
                        icon: 'error',
                        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                    return;
                }
                var qq1 = $("#qq1").val();
                if (qq1 == "") {
                    // $.alert({
                    //     title: '提示信息',
                    //     content: 'qq账号不能为空!',
                    //     buttons: {
                    //         确定: function () {
                    //             $("#qq1").focus();
                    //         }
                    //     },
                    //
                    // });
                    Toast.fire({
                        icon: 'error',
                        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                    return;
                }
                var email1 = $("#email1").val();
                if (email1 == "") {
                    // $.alert({
                    //     title: '提示信息',
                    //     content: '邮箱不能为空!',
                    //     buttons: {
                    //         确定: function () {
                    //             $("#email1").focus();
                    //         }
                    //     },
                    //
                    // });
                    Toast.fire({
                        icon: 'error',
                        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                    })
                    return;
                }

                /* $.confirm({
                     title: '添加提示',
                     content: '确认要添加吗？',
                     icon: 'fa fa-question-circle',
                     animation: 'scale',
                     closeAnimation: 'scale',
                     // opacity: 0.5,
                     buttons: {
                         'confirm': {
                             text: '确定',
                             btnClass: 'btn-blue',
                             action: function () {
                                 //layer.load();
                                 $.ajax({
                                     url: "[[@{/user/addUser}]]",
                                     //secureuri : false,
                                     dataType: 'json',//此时指定的是后台需要返回json字符串,前端自己解析,可以注释掉.后台直接返回map
                                     data: {
                                         name: name1,
                                         gender: gender1,
                                         age: age1,
                                         address: address1,
                                         qq: qq1,
                                         email: email1
                                     },
                                     success: function (data, status) {
                                         var arr = data.msg;
                                         if (arr == "1") {
                                             $.alert({
                                                 title: '提示信息',
                                                 content: '添加成功!',
                                                 buttons: {
                                                     确定: function () {
                                                         window.location.reload();
                                                     }
                                                 },sw

                                             });
                                         } else {
                                             $.alert({
                                                 title: '提示信息',
                                                 content: '添加失败!',
                                                 buttons: {
                                                     确定: function () {
                                                     }
                                                 },

                                             });

                                         }
                                     },
                                     error: function (data, status, e) {
                                         $.alert({
                                             title: '提示信息',
                                             content: '添加失败!',
                                             buttons: {
                                                 确定: function () {
                                                 }
                                             },

                                         });
                                     }
                                 });

                             },
                         },
                         calcel: function () {
                             //$.alert('你点击了<strong>取消</strong>');
                         }
                     }
                 });
                 */

                // $.confirm({
                //     title: 'Confirm!',
                //     content: 'Simple confirm!',
                //     buttons: {
                //         confirm: function () {
                //             $.alert('Confirmed!');
                //         },
                //         cancel: function () {
                //             $.alert('Canceled!');
                //         },
                //         somethingElse: {
                //             text: 'Something else',
                //             btnClass: 'btn-blue',
                //             keys: ['enter', 'shift'],
                //             action: function(){
                //                 $.alert('Something else?');
                //             }
                //         }
                //     }
                // });

                Swal.fire({
                    title: "Do you want to export the changes?",
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: "Export",
                    denyButtonText: `Don't Export`
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        // Swal.fire("Saved!", "", "success");
                        $.ajax({
                            // url: "http://localhost:8087/releaseNotice/export",
                            url: "[[@{/releaseNotice/export}]]",
                            type: "GET",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Accept", "application/json");
                                xhr.setRequestHeader("Content-Type", "application/json");
                            },
                            success: function (data) {
                                console.log("success");
                                console.log(data);
                                Swal.fire({
                                    title: "Good job!",
                                    text: "Export Success!",
                                    icon: "success"
                                });
                                window.location.reload();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // var responseText = jQuery.parseJSON(jqXHR.responseText);
                                // console.log(responseText);
                                // console.log('Error: ' + textStatus + ' - ' + errorThrown);
                                Swal.fire({
                                    title: "Export Failed!!",
                                    text: "Export Failed!",
                                    icon: "error"
                                });
                                // window.location.reload();
                                $("#addModal").modal('hide');  //手动关闭
                            }
                        });
                    } else if (result.isDenied) {
                        Swal.fire("Changes are not saved", "", "info");
                    }
                });


            });

        });


    </script>
</th:block>

</body>
</html>
