<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Release Notice</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- .box-body -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">列表</h3>
            </div>

            <div class="box-body">

                <div class="table-box">

                    <!--工具栏-->
                    <!-- <div class="pull-left">
                         <div class="form-group form-inline">
                             <div class="btn-group">
                                 <button type="button" id="btn_add" name="btn_add" class="btn btn-success"
                                         title="新建" onclick="">
                                     <i class="fa fa-file-o"></i> 新建
                                 </button>
                                 <button type="button" id="refresh" name="refresh" class="btn btn-info"
                                         title="刷新">
                                     <i class="fa fa-refresh"></i> 刷新
                                 </button>
                             </div>
                         </div>
                     </div>-->

                    <div class="ibox-content" style="display: block;">
                        <form action="orderManage_0_0_0">
                            <div class="row">
                                <div class="col-sm-2 m-b-xs">
                                    <select name="paymentType" id="paymentType" class="form-control">
                                        <option value="0" th:selected="${order.paymentType==0}">--请选择支付类型--</option>
                                        <option value="1" th:selected="${order.paymentType==1}">在线支付</option>
                                        <option value="2" th:selected="${order.paymentType==2}">货到付款</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 m-b-xs">
                                    <select name="status" id="status" class="form-control">
                                        <option value="0" th:selected="${order.status==0}">--请选择状态--</option>
                                        <option value="1" th:selected="${order.status==1}">未付款</option>
                                        <option value="2" th:selected="${order.status==2}">已付款</option>
                                        <option value="3" th:selected="${order.status==3}">未发货</option>
                                        <option value="4" th:selected="${order.status==4}">已发货</option>
                                        <option value="5" th:selected="${order.status==5}">交易成功</option>
                                        <option value="6" th:selected="${order.status==6}">交易关闭</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 m-b-xs">
                                    <input id="minOrderTimeStr" name="minOrderTimeStr" class="form-control" type="text" th:value="${order.minOrderTimeStr}" placeholder="订单最早时间" />
                                </div>
                                <div class="col-sm-2 m-b-xs">

                                    <input id="maxOrderTimeStr" name="maxOrderTimeStr"  class="form-control" type="text" th:value="${order.maxOrderTimeStr}" placeholder="订单最晚时间"/>
                                </div>
                                <div class="col-sm-2 m-b-xs">
                                    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
                                </div>
                                <div class="col-sm-2 m-b-xs">
                                    <a th:href="@{'download2'}" class="btn btn-primary btn-block" >&nbsp;&nbsp;&nbsp;&nbsp;<strong>导出</strong></a>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">

                            </div>
                            <div class="col-sm-6 m-b-xs">
                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>releaseVersion</label>
                                    <input class="form-control" id="releaseVersion" placeholder="Enter email"
                                           type="email" required>

                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>release perple</label>
                                    <input class="form-control" id="releasePeople" placeholder="Enter email"
                                           type="email" required>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date and time:</label>
                                    <div class="input-group date" id="reservationdatetime"
                                         data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                               data-target="#reservationdatetime"/>
                                        <div class="input-group-append" data-target="#reservationdatetime"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date and time:</label>
                                    <div class="input-group date" id="reservationdatetime1"
                                         data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                               data-target="#reservationdatetime"/>
                                        <div class="input-group-append" data-target="#reservationdatetime"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date and time range:</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="reservationtime">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">

                            </div>
                            <!-- /.col -->
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button class="btn btn-info btn-search" id="search1" name="search"
                                                onclick="user.findAll()">Load CR
                                        </button>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">

                            </div>
                            <!-- /.col -->
                        </div>


                        <!--工具栏/-->

                        <!-- /.box-body -->
                    </div>

                    <div class="row">
                        <table class="table table-bordered" id="list_table_json">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Username</th>
                                <th>EMail</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="u : ${users}">
                                <td scope="col" th:text="${u.id}"></td>
                                <td scope="col" th:text="${u.username}"></td>
                                <td scope="col" th:text="${u.email}"></td>

                                <td scope="col">
                                    <a class="btn btn-primary" role="button"
                                       th:href="${'/edit/'+u.id}"><span>Edit</span></a>
                                    <a class="btn btn-danger" role="button"
                                       th:href="${'/hapus/'+u.id}"><span>Remove</span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <!--------------- 新增模态框（Modal） ---------------->
                    <div class="modal fade bs-example-modal-lg" id="addModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title" id="addModalLabel">新增用户信息</h3>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="name1">姓名</label>
                                        <input type="text" id="name1" name="name1" class="form-control"
                                               placeholder="姓名">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender1">性别</label>
                                        <input type="text" name="gender1" id="gender1" class="form-control"
                                               placeholder="性别">
                                    </div>
                                    <div class="form-group">
                                        <label for="age1">年龄</label>
                                        <input type="text" name="age1" id="age1" class="form-control" placeholder="年龄">
                                    </div>
                                    <div class="form-group">
                                        <label for="address1">住址</label>
                                        <input type="text" name="address1" id="address1" class="form-control"
                                               placeholder="住址">
                                    </div>
                                    <div class="form-group">
                                        <label for="qq1">QQ</label>
                                        <input type="text" name="qq1" id="qq1" class="form-control" placeholder="qq账号">
                                    </div>
                                    <div class="form-group">
                                        <label for="email1">邮箱</label>
                                        <input type="text" name="email1" id="email1" class="form-control"
                                               placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="close1" name="close1" class="btn btn-default"
                                            data-dismiss="modal"><span class="glyphicon glyphicon-remove"
                                                                       aria-hidden="true"></span>关闭
                                    </button>
                                    <button type="button" id="btn_submit1" class="btn btn-primary"><span
                                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------- 修改模态框（Modal） ---------------->
                    <div class="modal fade bs-example-modal-lg" id="updateModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title" id="updateModalLabel">修改用户信息</h3>
                                </div>
                                <div class="modal-body">
                                    <!--注意需要一个隐藏域的id用来传值-->
                                    <div class="form-group">
                                        <input type="hidden" id="id" name="id" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="name2">姓名</label>
                                        <input type="text" id="name2" name="name2" class="form-control"
                                               placeholder="姓名">
                                    </div>
                                    <div class="form-group">
                                        <label for="gender2">性别</label>
                                        <input type="text" name="gender2" id="gender2" class="form-control"
                                               placeholder="性别">
                                    </div>
                                    <div class="form-group">
                                        <label for="age2">年龄</label>
                                        <input type="text" name="age2" id="age2" class="form-control" placeholder="年龄">
                                    </div>
                                    <div class="form-group">
                                        <label for="address2">住址</label>
                                        <input type="text" name="address2" id="address2" class="form-control"
                                               placeholder="住址">
                                    </div>
                                    <div class="form-group">
                                        <label for="qq2">QQ</label>
                                        <input type="text" name="qq2" id="qq2" class="form-control" placeholder="qq账号">
                                    </div>
                                    <div class="form-group">
                                        <label for="email2">邮箱</label>
                                        <input type="text" name="email2" id="email2" class="form-control"
                                               placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="close2" name="close2" class="btn btn-default"
                                            data-dismiss="modal"><span class="glyphicon glyphicon-remove"
                                                                       aria-hidden="true"></span>关闭
                                    </button>
                                    <button type="button" id="btn_submit2" class="btn btn-primary"><span
                                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<th:block layout:fragment="script">

    <script src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
    <script>
        console.log("release notice");
        var user = {};

        $(document).ready(function () {
            //Date and time picker
            $('#reservationdatetime').datetimepicker({icons: {time: 'far fa-clock'}});

            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })

            /** TODO: Function OnClick **/

            /** TODO: Function **/


            /** TODO: OnLoad **/
        });

        /*加载添加用户信息模态框*/
        $("#btn_add").click(function () {
            $("#addModalLabel").text("添加用户信息");
            $('#addModal').modal();
        });
        /*点击关闭模态框后重载页面*/
        $("#refresh,#close1,#close2").click(function () {
            window.location.reload();
        });

    </script>
</th:block>

</body>
</html>
